#contact {
    width: 80%;
    margin: 50px auto;

    h1 {
        font-size: 30px;
        color: $color_3;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    h3 {
        margin-bottom: 30px;
    }

    p {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    input {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }

    .submit {
        display: block;
        color: $color_4;
        font-weight: 500;
        width: 100px;
        height: 35px;
        outline: none;
        border: none;
        border-radius: 30px;
        background-color: $background-color_2;
        cursor: pointer;
        margin-top: 20px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    }
}

.contact-box {
    display: flex;
    background-color: $background-color_1;
}

.contact-box-left {
    flex-basis: 60%;
    padding: 40px 60px;
    outline: none;
    border: 1px solid #002B3D;
    background-position: 50% 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), url("../img/layout/about-bg.jpg");
}

.contact-box-right {
    flex-basis: 40%;
    padding: 40px 60px;
    background-color: $background-color_2;
    color: $color_4;
}

.input-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .input-group {
        flex-basis: 45%;
        margin-bottom: 20px;
    }
}

textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    color: $color_3;
}

tr {
    td {
        &:first-child {
            width: 150px;
            padding-right: 20px;
        }

        font-size: 16px;
        font-weight: 500;
        padding-top: 20px;
        text-align: justify;

        i {
            margin-right: 7px;
        }
    }
}

.map {
    h1 {
        font-size: 50px;
        font-weight: 700;
        padding-top: 80px;
        text-transform: uppercase;
    }
}

iframe {
    width: 100%;
    height: 600px;
}

#product_page {
    .submit-btn {
        width: 20px;
        height: 20px;
        outline: none;
        border: transparent;
        border-radius: 50%;
    }
}