@use '../abstracts/' as *;
@use '../layout/' as *;
@use '../components/' as *;

.product-wrapper {
    width: 100%;
    // height: 100vh;
    margin: 2% auto;
    padding: 4% 100px 0 100px;

    .product-header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        h1 {
            // width: 20%;
            font-size: 2rem;
            color: $primary-color;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        .right {
            .search-box {
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #e0e0e0;
                border-radius: 12px;
                overflow-x: hidden;

                i {
                    // color: #e0e0e0;
                    display: inline-block;
                    padding: .75rem;
                }

                input {
                    font-size: .8rem;
                    height: 100%;
                    outline: none;
                    border: none;
                    padding: .75rem;
                }
            }
        } 

        .product-type {
            display: flex;
            gap: 20px;

            a {
                @include button(16px, $primary-color, transparent);
                min-width: 100px;
                border: 1px solid #f0f0f0 !important;
                border-radius: 5px;
                padding: 8px 12px;
                text-align: center;
                font-weight: 500;
                text-transform: uppercase;

                &:hover,
                &.active {
                    border: 1px solid $primary-color !important;
                }
            }
        }
    }

    .product-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;

        .product-card {
            width: calc(25% - 15px);
            // height: 350px;
            border: 1px solid #e0e0e0;
            border-radius: 12px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .img-wrapper {

                img {
                    width: 100%;
                    height: 400px;
                    border: 1px solid #e0e0e0;
                    border-radius: 12px;
                }
            }

            .product-des {
                display: flex;
                flex-direction: column;

                .product-des__tag {
                    margin: 0 8px 16px 0;

                    span {
                        color: #262626;
                        padding: 4px 8px;
                        border-radius: 100px;
                        font-size: .75rem;
                        font-weight: 500;
                        width: fit-content;
                        text-transform: uppercase;

                        &.group {
                            background-color: #dff5e7;
                        }

                        &.type {
                            background-color: #eef7ff;
                        }
                    }
                }

                .product-des__brand {
                    font-size: 12px;
                    font-weight: 700;
                    color: $primary-color;
                    margin-bottom: 3px;
                } 

                .product-des__name {
                    font-size: 13.5px;
                    font-weight: 900;
                    color: $primary-color;
                    margin-bottom: 4px;
                    text-overflow: ellipsis;
                    text-transform: uppercase;
                }

                .product-des__origin {
                    font-size: 12px;
                    color: grey;
                    text-transform: capitalize;
                    text-overflow: ellipsis;

                    i {
                        margin-right: 4px;
                    }
                }

                .horizontal-line {
                    width: 100%;
                    height: 1px;
                    background-color: #e0e0e0;
                    margin: 8px 0;
                }

                .prodcut-des__price-buy {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .price {
                        display: flex;
                        flex-direction: column;

                        .discount {
                            font-size: 20px;
                            font-weight: 700;
                            color: $primary-color;
                            margin-bottom: 3px;
                        }

                        .original {
                            font-size: .75rem;

                            span {
                                text-decoration: line-through;
                            }
                        }
                    }

                    .buy {
                        width: 20px;
                        height: 20px;
                        padding: 20px;
                        border-radius: 50%;
                        background-color: $primary-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all .2s ease 0s;
                        
                        i {
                            color: #f0f0f0;
                        }

                        &:hover {
                            scale: .95;
                        }
                    }
                }
            }
        }
    }

    .pagination {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        column-gap: 12px;
        
        a {
            color: $primary-color;
            font-size: 1em;

            &.prev-next {
                font-size: .75rem;
                margin: 0 4px;
            }
        }
    }
}