* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.lg-cs {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tb-section {
  width: 82vw;
  height: 90vh;
  background-color: #002d3b;
  border-radius: 8px;
  overflow: hidden;
}
.tb-section .tb-header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2666666667);
  padding: 0.8rem 1rem;
}
.tb-section .tb-body {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.tb-section .tb-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.2rem;
}
.tb-section .tb-body::-webkit-scrollbar-thumb:vertical {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2666666667);
  visibility: hidden;
  height: 0.5rem;
}
.tb-section .tb-body th, .tb-section .tb-body td, .tb-section .tb-body table {
  padding: 1rem;
  border-collapse: collapse;
  text-align: left;
}
.tb-section .tb-body table {
  width: 100%;
}
.tb-section .tb-body thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  cursor: pointer;
  text-transform: capitalize;
  background-color: rgba(213, 209, 222, 0.9960784314);
}
.tb-section .tb-body tbody {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: rgba(255, 255, 255, 0.7333333333);
  margin: 0.8rem auto;
  overflow: auto;
}
.tb-section .tb-body tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.0431372549);
}