@use '../../css/scss/abstracts/'as *;
@use '../../css/scss/layout/'as *;
@use '../../css/scss/components/'as *;

.product-wrapper {
    width: 100%;
    height: 100vh;
    margin: 4% auto;
    padding: 4% 100px;

    .product-header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        h1 {
            width: 20%;
            font-size: 2.5rem;
            color: $primary-color;
            text-transform: uppercase;
        }

        .product-type {
            display: flex;
            gap: 20px;
            border: 1px solid $primary-color;
            border-radius: 12px;
            padding: 12px;

            a {
                @include button(16px, $primary-color, transparent);
                min-width: 100px;
                border: 1px solid #f0f0f0 !important;
                border-radius: 5px;
                padding: 8px 12px;
                text-align: center;

                &:hover,
                &.active {
                    border: 1px solid $primary-color !important;
                }
            }
        }
    }

    .product-content {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;

        .product-card {
            width: calc(100% - 15px);
            // height: 350px;
            border: 1px solid #e0e0e0;
            border-radius: 12px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .img-wrapper {

                img {
                    width: 100%;
                    height: 375px;
                    border: 1px solid #e0e0e0;
                    border-radius: 12px;
                }
            }

            .product-des {
                display: flex;
                flex-direction: column;

                .product-des__tag {
                    margin: 0 8px 16px 0;

                    span {
                        color: #262626;
                        padding: 4px 8px;
                        border-radius: 100px;
                        font-size: .75rem;
                        font-weight: 500;
                        width: fit-content;

                        &.group {
                            background-color: #dff5e7;
                        }

                        &.type {
                            background-color: #eef7ff;
                        }
                    }
                }

                .product-des__brand {
                    font-size: 12px;
                    font-weight: 700;
                    color: $primary-color;
                    margin-bottom: 3px;
                } 

                .product-des__name {
                    font-size: 16px;
                    font-weight: 900;
                    color: $primary-color;
                    margin-bottom: 8px;
                    text-overflow: ellipsis;
                }

                .product-des__origin {
                    font-size: 12px;
                    color: grey;

                    i {
                        margin-right: 4px;
                    }
                }

                .horizontal-line {
                    width: 100%;
                    height: 1px;
                    background-color: #e0e0e0;
                    margin: 8px 0;
                }

                .prodcut-des__price-buy {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .price {
                        display: flex;
                        flex-direction: column;

                        .discount {
                            font-size: 20px;
                            font-weight: 700;
                            color: $primary-color;
                            margin-bottom: 3px;
                        }

                        .original {
                            font-size: .75rem;

                            span {
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }
}