$color_1: #000;
$color_2: #9E723A;
$color_3: #002B3D;
$color_4: #fff;
$color_5: #333;
$color_6: #ccc;

$line-color: #d8dae5;
$font-color-0: #000;
$font-color-1: #6f6f6f;
$small-heading-size: 1rem;


$background-color_1: #fff;
$background-color_2: #002B3D;
$background-color_3: #9E723A;
$background-color_4: transparent;
$background-color_5: rgba(0, 0, 0, 0.1);
$background-color_6: rgba(0, 0, 0, 0.2);

$primary-color: #002D3B;