
@mixin button($font-size, $font-color , $bg-color) {
    outline: none; 
    border: none;
    padding: 14px 24px;
    background-color: $bg-color;
    font-size: $font-size;
    font-weight: 700;
    color: $font-color;
    border-radius: 12px;
    transition: all .2s ease 0s;
    cursor: pointer;
    
    a {
        color: $font-color;
    }

    &:hover {
        scale: .98;
    }
}