@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700;800&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f1f5f9;
}

div::-webkit-scrollbar {
  width: 1em;
  height: 6px;
}

div::-webkit-scrollbar-thumb {
  background-color: #002D3B;
  border-radius: 3px;
}

#content-wrapper {
  width: calc(100% - 280px);
  height: 100%;
  margin-left: 280px;
  background-color: #f3f3f3;
}

.navigation .sidebar-menu {
  width: 280px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #002D3B;
  color: #fff;
}
.navigation .sidebar-menu .img-wrapper img {
  margin: 2rem;
  width: 200px;
}
.navigation .sidebar-menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navigation .sidebar-menu ul li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}
.navigation .sidebar-menu ul li a {
  color: #fff;
  display: block;
  font-size: 1.2rem;
  padding-left: 1rem;
}
.navigation .sidebar-menu ul li a.active {
  display: flex;
  align-items: center;
  color: #002D3B;
  font-weight: 700;
  background-color: #fff;
  padding: 1rem 0;
  border-radius: 30px 0 0 30px;
}
.navigation .sidebar-menu ul li a.active i {
  font-size: 1.5rem;
  padding: 0 1rem;
}
.navigation .topbar-menu {
  width: calc(100% - 280px);
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-left: 280px;
  background-color: #fff;
}
.navigation .topbar-menu .topbar-search {
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.navigation .topbar-menu .topbar-search i {
  font-size: 1.1rem;
  display: inline-block;
  padding: 0 1rem;
}
.navigation .topbar-menu .topbar-search input {
  height: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
}
.navigation .topbar-menu .topbar-user {
  display: flex;
  align-items: center;
}
.navigation .topbar-menu .topbar-user img {
  border-radius: 50%;
  margin-right: 0.5rem;
}
.navigation .topbar-menu .topbar-user small {
  display: inline-block;
  color: #4a5568;
}

.dashboard {
  width: calc(100% - 280px);
  min-height: calc(100% - 70px);
  position: relative;
  margin-left: 280px;
  margin-top: 50px;
}
.dashboard .card-wrapper {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 24px;
}
.dashboard .card-wrapper .card-element {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
}
.dashboard .card-wrapper .card-element h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.dashboard .card-wrapper .card-element i {
  color: #002D3B;
  font-size: 3rem;
}
.dashboard .card-wrapper .card-element span {
  color: grey;
}

.table-wrapper {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}
.table-wrapper .table-header {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  background-color: #fff;
}
.table-wrapper .table-header .button {
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #002D3B;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-wrapper .table-card {
  overflow-x: scroll;
}
.table-wrapper .table-card table {
  color: #4a5568;
  width: 150%;
  border-collapse: collapse;
  text-align: center;
}
.table-wrapper .table-card th {
  height: 50px;
}
.table-wrapper .table-card td {
  height: 85px;
}
.table-wrapper .table-card td.option i {
  color: #002D3B;
  font-size: 1.5rem;
  margin-right: 16px;
}
.table-wrapper .table-card .odd td, .table-wrapper .table-card .odd th {
  background-color: #f3f3f3;
}
.table-wrapper .table-card .odd td:first-child, .table-wrapper .table-card .odd th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.table-wrapper .table-card .odd td:last-child, .table-wrapper .table-card .odd th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.table-wrapper .table-card .even td, .table-wrapper .table-card .even th {
  background-color: #fff;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}
.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}
.four_zero_four_bg h1 {
  font-size: 80px;
}
.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}
.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}
.four_zero_four_bg h1 {
  font-size: 80px;
}
.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

.main-wrapper {
  width: 100%;
  margin: 0 auto;
}

#create-form form .card-wrapper {
  padding: 40px 200px;
}
#create-form form .card-wrapper .card-body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 30px;
  gap: 24px;
}
#create-form form .card-wrapper .card-body h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
#create-form form .card-wrapper .card-body .card-body__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#create-form form .card-wrapper .card-body .card-body__items .item-element {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#create-form form .card-wrapper .card-body .card-body__items .item-element label {
  width: calc(30% - 12px);
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
}
#create-form form .card-wrapper .card-body .card-body__items .item-element .item-input {
  width: 70%;
  background-color: #f9f9f6 !important;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
}
#create-form form .card-wrapper .card-body .card-body__items .item-element .item-input:focus {
  border-color: transparent;
  outline: none;
}
#create-form form .card-wrapper .card-body .card-body__items .item-element .item-input.select {
  font-size: 14px !important;
}
#create-form form .card-wrapper .card-body .card-body__items .item-element .item-input input#file-upload-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}
#create-form form .card-wrapper .submit-btn {
  padding: 16px 32px;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  background-color: #002D3B;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
